/*
   Author: Matthew Ortiz
   Date: 21 April 2017   
*/

/* Media Styles */
iframe {
	display: block;
	width: 700px;
   height: 420px;
	margin: 40px auto;   
}

nav a:hover::before {
  width: 100%;
}

img#NF {
   display: block;
   width: 40%;
   margin: 20px auto;
   border-style: solid;
   border-width: 25px;
   border-image: url(border.png) 50 repeat;
}

img#Quote {
   display: block;
   height: 300px;
   width: 300px;
   position: absolute;
   top: 150px;
   left: 55px;
}
