/* Page Styles */
html {
   box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
   margin: 0;
   background: black/*rgb(14, 13, 13)*/;
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
}

.container {
   width: 80%;
   margin: 0 auto;
}

body {
   margin: 0;
   background: #0c0c0c;
   color: #fff;
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
   text-align: center;
}

header {
  background: #55d6aa;
}

nav {
  text-align: center;
  margin-bottom: 30px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  position: relative;
  font-family: garamond;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px;
  cursor: pointer;
  display: block;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: black;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

img#me {
  position: relative;
  height: 70%;
  width: 70%;
  opacity: 0.05;
}

div#sm {
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin: 20px 0;
   clear: both;
}

img.sm {
	display: flex;
	height: 70px;
	width: 70px;
	border-radius: 30%;
}

div#foot {
   padding: 0.1% 0;
}

footer {
   position: relative;
   top: 20px;
   background-color: #55d6aa;
   width: 100%;
   height: 40px;
   text-align: center;
   padding: 0.2% 0;
   line-height: 10px;
   font-family: garamond;
   color: black;
}

